<div class="jumbotron">
    <h1 class="text-center">
    WELCOME TO CONTATOOH
  </h1>
</div>
<p ng-show="message.text" class="alert alert-warning">{{message.text}}</p>
<form class="navbar-form" role="search">
    <input ng-model="_filter" type="search" class="form-control" placeholder="Search">
    <a class="btn btn-primary" ng-href="#/contact">
        New contact
    </a>
</form>
<p ng-show="contacts.length">registered contacts: {{contacts.length}}
</p>
<p class="text-info" ng-hide="contacts.length">Not contacts regitered</p>
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>NAME</th>
            <th>E-MAIL</th>
            <th>EMERGENCY</th>
            <th class="text-center">Action</th>
        </tr>
        <tr ng-repeat="contact in contacts | filter: _filter">
            <td>
                <a ng-href="#/contact/{{contact._id}}">{{contact.name}}</a>
            </td>
            <td>{{contact.email}}</td>
            <td>{{contact.emergency.name}}</td>
            <td class="text-center">
                <button class="btn btn-warning" ng-click="remove(contact)">
                    Remove
                    </buttom>
            </td>
        </tr>
    </table>
</div>